*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
nav{
    z-index: 20;
    width: 100%;
    height: 10%;
    position: fixed;
}
.navbar{
    width: 100%;
    background-color: black;
    height: 100%;
    position: sticky;
    display: flex;
}
.left-container{
width: 20%;
height: 100%;
display: flex;
background-color: transparent;
}
.center-container{
    width: 70%;
    height: 100%;
    display: flex;
    background-color: transparent;

}
.center-container ul{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 0 auto;
}
.center-container ul li{
    padding: 1%;
    display: flex;
    list-style-type: none;
    margin: auto auto;
    
}
.center-container ul li a{
    color: whitesmoke;
    text-decoration: none;
    font-size: x-small;
}
.center-container ul li :hover{
    opacity: 80%;
}
.right-container{
    width: 10%;
    display: flex;
    background-color:transparent;
}
.button-burger{
    width: 100%;
    height: 25%;
    display: flex;
    margin: auto auto;
    background-color: transparent;

}
.burger{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    margin: auto auto;
    cursor: pointer;
}
.line-one{
    width: 100%;
    height: 10%;
    background-color: whitesmoke;
    margin: auto auto;
    transition: width 1s ease-in-out 0s;

}
.line-two{
    width: 100%;
    height: 10%;
    background-color: whitesmoke;
    margin: auto auto;
    transition: width 1s ease-in-out 0s;
}
.line-three{
    width: 100%;
    height: 10%;
    background-color: whitesmoke;
    margin: auto auto;
    transition: width 1s ease-in-out 0s;
}

.burger:hover .line-one{
    width: 50%;
    animation: transition-one 1s linear infinite;
    transition: width 1s ease-in-out 0s;
}
.burger:hover .line-two{
    width: 70%;
    animation: transition-two 1s linear infinite;
    transition: width 1s ease-in-out 0s;
}
.burger:hover .line-three{
    width: 50%;
    animation: transition-three 1s linear infinite;
    transition: width 1s ease-in-out 0s;
}
@keyframes transition-one {
   0% { width: 100%; }
   50% { width: 50%; }
   100% { width: 100%; }
}
@keyframes transition-two {
    0% { width: 100%; }
    50% { width: 70%; }
    100% { width: 100%; }
 }
 @keyframes transition-three {
    0% { width: 100%; }
    50% { width: 50%; }
    100% { width: 100%; }
 }
 .section-one{
    width: 100%;
    height: 100vh;
    background-color:white;
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
}
.section-one-padding{
        position: relative;
        width: 100%;
        height: 14%;
        display: flex;
}
.hero{
    width: 100%;
    height: 30%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
 }
 .text-animation{
    box-sizing: border-box;
    width: fit-content;
    height: fit-content;
    margin: auto auto;
    display: flex;
 }
 .text-animation h1{
    position: relative;
    font-size: 1.5em;
    color: white;

    
 }
 .text-animation h1::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: black;
    -webkit-text-stroke: 0vw #000000;
    border-right: 2px solid black;
    overflow: hidden;
    animation: text-transform 5s linear;
 }

 .section-one-main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
 }
@keyframes text-transform{
    0%{
        width: 0%;
    }
    100%{
        width:100%;
    }
}
 .section-one-main h2{
    font-size: smaller;
    width: 50%;
    margin: 0 auto;
    text-align: center;
 }
 .section-one-main h3{
    font-size: xx-small;
    width: 50%;
    margin: 0 auto;
    text-align: center;
 }
.section-two{
    width: 100%;
    height: 100vh;
    top: 100%;
    background-color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
}
.section-two-padding{
    width: 100%;
    height: 10%;
    display: flex;
}
.section-two-header{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-two-header h1{
    font-size: x-small;
    width: 50%;
    color: black;
    text-align: center;
}
.section-two-header h2{
    margin: 0 auto;
    font-size: xx-small;
    color: black;
}
.section-two-main{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    height: 50%;
    justify-content: center;
    align-items: center;
}
.section-two-main p{
    width: 50%;
    font-size: small;
    color: black;
    text-align: center;
}
.section-three{
    width: 100%;
    height: 100vh;
    top: 200%;
    background-color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
}
.section-three-padding{
    width: 100%;
    height: 10%;

    display: flex;
}
.section-three-header{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
}
.section-three-header h1{
    font-size: x-small;
    width: 50%;
    color: black;
    margin: 0 auto;
    text-align: center;
}
.section-three-header h2{
    margin: 0 auto;
    font-size: xx-small;
    color: black;
    text-align: center;
}
.section-three-main{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    margin: 0 auto;
}
.swiper{
    width: 100%;
    display: flex;
    height: 100%;
}
.swiper .swiper-wrapper{
    width: 100%;
    height: 100%;
}
.swiper .swiper-wrapper .swiper-slide{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.swiper .swiper-wrapper .swiper-slide a{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#ss-one{
    background-image: url(Images/1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    background-attachment: fixed;
}
#ss-two{
    background-image:url(Images/2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
}
#ss-three{
    background-image: url(Images/3.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
}
#ss-four{
    background-image: url(Images/4.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
}
.section-four{
    width: 100%;
    height: 100vh;
    top: 300%;
    background-color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
}
.section-four-padding{
    width: 100%;
    height: 10%;
    background-color: transparent;
    display: flex;
}
.section-four-header{
    margin: auto auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30%;
}
.section-four-header h1{
    font-size: smaller;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    color: black;
}
.section-four-header h2{
    margin: 0 auto;
    font-size: xx-small;
    color: black;
}
.section-four-main{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section-four-main iframe{
    margin: 0 auto;
    width: 50%;
    height: 50%;
}
.section-four-main a{
    display: flex;
    height: 30%;
    justify-content: center;
    align-items: center;
    color: #000000;

}
.bottom-padding{
    width: 100%;
    height: 30%
}
footer{
    background-color: black;
    width: 100%;
    height: 20%;
    bottom: 0;
    position: absolute;
}
.footer-container{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.footer-top{
    width: 100%;
    height: 25%;
    display: flex;
    background-color: transparent;
}
.footer-top-center-container{
    background-color: transparent;
    display: flex;
    width: 100%;
}
.footer-top a{
    margin: auto auto;
    color: whitesmoke;
}
.footer-center-top{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
    background-color: transparent;
}
.footer-center-top ul{
    display: flex;
    justify-content: space-between;
    margin: auto auto;

}
.footer-center-top ul li{
    padding: 0 1%;
    display: flex;
    list-style-type: none;
    margin: auto auto;
    justify-content: center;
    text-align: center;
}
.footer-center-top ul li a{
    text-decoration: none;
    color: whitesmoke;
}
.footer-center-bottom{
    width: 100%;
    height: 25%;
    background-color:transparent ;
    display: flex;
}
.footer-center-bottom h2{
    font-size: xX-small;
    color: whitesmoke;
    margin: auto auto;
}
.footer-bottom{
    width: 100%;
    height: 25%;
    background-color: transparent;
    display: flex;
}
.footer-bottom h2{
    font-size: xx-small;
    color: whitesmoke;
    margin: auto auto;
}
@media (min-width: 450px){
    .center-container ul li a{
        color: whitesmoke;
        text-decoration: none;
        font-size: medium;
    }
    .burger{
        width: 25%;
        height: 100%;
        display: flex;
        flex-direction: column;
        background-color: transparent;
        margin: auto auto;
    }
    .footer-top-center-container{
        width: 60%;
        height: 100%;
        margin: auto auto;
    }
    .hero h1{
        font-size:3rem;
    }
    .section-one-main h2{
        font-size: medium;
    }
    .section-one-main h2{
        font-size: small;
    }
    .section-two-header h1{
        font-size: medium;
    }
    .section-two-header h2{
        font-size: small;
    }
    .section-three-header{
        height: 10%;
        padding: 0;
    }
    .section-three-header h1{
        margin:0 auto;
        font-size: medium;
    }
    .section-three-header h2{
        margin: 0 auto;
        font-size: small;
    }
    .section-three-main{
        margin:0 auto;
        height: 50%;
        width: 100%;

    }
    .section-four-header h1{
        font-size: medium;
        display: flex;
    }
    .section-four-header h2{
        font-size: small;
    }
    .section-four-main{
        display: flex;
    }
}